<%- include("partials/header"); -%>


<nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">M Parlor</a>
        <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/Price">Price</a></li>
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about">About</a></li>
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#contact">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>

<!-- Masthead-->
<header class="masthead bg-primary text-white text-center" ">
<div class="my-container">


  <div class="row ">


    <div class="container col-lg-6 d-flex align-items-center flex-column">

        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0" style="margin:20%;" >M Parlor</h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
          <p class="masthead-subheading font-weight-light mb-0">Improve Your Selfies: See a Make-Up Artist, Always Make Room For a Little Beauty in Your Life. </p>

        <div class="" style="padding : 2rem">
          <a class="js-scroll-trigger btn btn-xl btn-outline-light"  href="#contact">
              <i class="fas fa-phone mr-2"></i>
              Contact Me
          </a>
        </div>



    </div>
    <div class="container col-lg-6 d-flex align-items-center flex-column">
        <!-- Masthead  Image-->

        <!-- <div class="wrap">
		<a class="btn prev">
			<i class="btn__icon fas fa-chevron-left"></i>
		</a>
		<div class="slide">
			<ul class="slide__box">
				<li class="slide__each first"></li>
				<li class="slide__each second"></li>
				<li class="slide__each third"></li>
				<li class="slide__each fourth"></li>
				<li class="slide__each fifth"></li>
			</ul>
		</div>
		<a class="btn next">
			<i class="btn__icon fas fa-chevron-right"></i>
		</a>
		<div class="pagination">
			<span class="pagination__dot on"></span>
			<span class="pagination__dot"></span>
			<span class="pagination__dot"></span>
			<span class="pagination__dot"></span>
			<span class="pagination__dot"></span>
		</div>
</div> -->
        <img class="image-ran" src="https://source.unsplash.com/collection/4856114/500x500" alt="image" />


        <!-- Masthead Subheading-->
        <div style="padding:2rem">
<p class="masthead-subheading font-weight-light mb-0">Makeup Artist - Hair Stylist </p>
        </div>

    </div>
      </div>
</header>

<!-- About Section-->
<section class="page-section text-white mb-0" id="about">
    <div class="container text-secondary" >
        <!-- About Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary" style="font-size:4rem">About</h2>
        <!-- Icon Divider-->
        <div class="divider-custom ">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- About Section Content-->
        <div class="row">
            <div class="col-lg-4 ml-auto"><p class="lead">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p></div>
            <div class="col-lg-4 mr-auto"><p class="lead">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).

</p></div>
        </div>
    </div>
    </div>
</section>
<!-- Contact Section-->
<section class="page-section bg-primary" id="contact">
    <div class="container">
        <!-- Contact Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-white mb-0">Contact Me</h2>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Contact Section Form-->
        <div class="row"  >

                <div class="col-lg-6 text-white mb-5 mb-lg-0 al-center" >

                    <h4 class="text-uppercase mb-4">  <i class="fas fa-map-marked-alt"></i>
                    <h4 class="text-uppercase mb-4">Location</h4>
                    <div class="divider-custom divider-light">
                        <div class="divider-custom-line"></div>

                    </div>
                    <p class="lead mb-0 ">
                        Iffco Township Aonla
                        <br />
                        Bareilly (UP)
                    </p>

                </div>
                <div class="col-lg-6 text-white mb-5 mb-lg-0 al-center" >
                    <h4 class="text-uppercase mb-4">  <i class="fas fa-phone mr-2"></i> </h4>
                    <h4 class="text-uppercase mb-4">Contact Number </h4>
                    <div class="divider-custom divider-light">
                        <div class="divider-custom-line"></div>


                    </div>
                    <p class="lead mb-0 larger text-white">
                        0581-240-3611
                    </p>
                </div>

        </div>
    </div>
</section>

<%- include("partials/footer"); -%>
